.error-block {
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
  color: white;
  background-color: #f84d4d;
  padding: 20px 8px;
  margin-bottom: 20px;
  margin-top: 15px;
  border-radius: 2px;
  letter-spacing: 2px;
}
