.success-block {
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
  color: #1184d1;
  background-color: white;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px #1184d1;
  margin-bottom: 20px;
  margin-top: 15px;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 0px 3px 0px #1184d1;
  -moz-box-shadow: 0px 0px 3px 0px #1184d1;
  box-shadow: 0px 0px 3px 0px #1184d1;
}
