.success-block {
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
  color: white;
  background-color: #1184d1;
  padding: 24px 16px;
  border-radius: 2px;
  border: solid 1px #1184d1;
  margin-bottom: 20px;
  margin-top: 15px;
  letter-spacing: 2px;
}
