@import "../../assets/styles/mixins";

.order-item {
  width: 100%;
  @include md {
    max-width: 20rem;
    display: inline-block;
    margin: auto;
  }
}

.order-list {
  @include md {
    position: relative;
    display: inline-block;
  }
}

.order-item-image {
  width: 100%;
  position: relative;
  .img-wrapper {
    padding-top: 10.4rem;
    padding-right: 10rem;
    @include md{
      padding-top: 12rem;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
    }
  }
}

.order-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
