/* Colors related */

* {
  transition-duration: 300ms;
}

p {
  margin: initial;
}

.primary-color {
  color: #ff2954;
}

.secondary-background-color{
  background-color: rgba(238, 237, 237, 0.692) !important;
}

.primary-background-color {
  background-color: #ff2954 !important;
}

.light-button {
  background-color: white;
  border: 1px solid lightgray;
}

.bg-black {
  background-color: black !important;
}

.no-radius {
  border-radius: 0px;
}

/* Defaults */

.default-font-size {
  font-size: 13px;
}

.button-default {
  padding: 1rem 2rem;
}

.button-default:hover {
  opacity: 0.89;
}

/* Others */
.item-size-box {
  width: 3.5rem;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 1px solid lightgray;
  background-color: white;
  color: gray;
}

.item-size-box:focus {
  border-color: black;
  color: rgb(32, 32, 32);
}

/* Headers/Text related classes */



/* Inputs related */

.placeholder-center::-webkit-input-placeholder {
  text-align: center;
}

.placeholder-center:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

.placeholder-center::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

.placeholder-center:-ms-input-placeholder {  
  text-align: center; 
}

.primary-input{
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border: 1px solid lightgray;
  font-size: 12px;
}

.primary-input::placeholder{
  font-weight: bold;
  letter-spacing: 5px;
}



.divider{
  border-bottom: 1px solid lightgray;
}