@import "../../assets/styles/mixins";

.cart-item {
  width: 100%;
  display: inline-block;
  @include md {
    max-width: 20rem;
    display: inline-block;
    margin: auto;
  }
}

.cart-list {
  text-align: center;
}

.cart-item-image {
  width: 100%;
  padding-top: 10.4rem;
  position: relative;
  .img-wrapper {
    padding-right: 10rem;
    @include sm{
      padding-top: 12.5rem;
    }
    @include md{
      padding-top: 0rem;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      max-height: auto;
    }
  }
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
