@import "../../assets/styles/mixins";

.cart-item {
  width: 100%;
  @include md{
    max-width: 20rem;
    float: left;
    margin: auto;
  }
}

.cart-list{
  @include md{
    position: relative;
    display: inline-block;
  }
}

.cart-item-image {
  width: 100%;
  img{
    width: 100% !important;
  }
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .cart-item-details {

  }

  .cart-item-action{
    // position: absolute;
    // bottom: 0px;
  }
}
