@import "../../assets/styles/mixins";


.subscribe{
  input{
    width: 100%;
    @include md{
      width: 40%;
      display: block;
      margin: auto;
    }
  }
  button{
    width: 100%;
    @include md{
      width: 40%;
    }
  }
}