@import "../../assets/styles/mixins";

.item-wrapper {
  height: 0;
  margin-top: 1rem;
  position: relative;
  padding-top: 300%;

  @include xs{
    padding-top: 280%;
  }
  @include sm{
    padding-top: 240%;
  }

  @include md{
    padding-top: 190%;
  }

  @include lg{
    padding-top: 40%;
  }
  .spinner-border {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
  }
}

.item-root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  .item-name {
    font-size: 12px;
    letter-spacing: 6px;
  }
  .item-price {
    font-size: 12px;
    letter-spacing: 6px;
  }
}
