@import '../../assets/styles/variables';
.item-color{
  padding: 23px;
  margin-right: 5px;
  display: inline-block;
  letter-spacing: 1px;
}

.item-selected{
  border: 1px solid #be6363;
  -webkit-box-shadow: -4px 3px 5px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: -4px 3px 5px -1px rgba(0,0,0,0.5);
  box-shadow: -4px 3px 5px -1px rgba(0,0,0,0.5);
}

.item-unselected{
  border: 1px solid black;

}