@import "../../assets/styles/mixins";

.item-root{
  @include md{
    height: 60%;
  }
  .item-name{
    font-size: 12px;
    letter-spacing: 6px;
  }
  .item-price{
    font-size: 12px;
    letter-spacing: 6px;
  }
}