@import "../../assets/styles/mixins";
$leftBorderWidth: 12px;
$failureColor: #fd8d96;
$successColor: #5dc054;
$neutralColor: black;

.alert-snackbar {
  position: fixed;
  padding: 15px;
  overflow: hidden;
  border-radius: 2px;

  background-color: rgb(252, 250, 250);
  width: 95vw;
  height: auto;
  font-size: 1rem;
  z-index: 600;
  margin: auto;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-200px);
  top: 0;
  left: 0;
  right: 0;
  @include sm {
    width: 95vw;
  }
  @include md {
    width: 50vw;
  }
  p {
    letter-spacing: 1.3px;
    font-size: 14.7px;
    color: rgb(37, 37, 37);
  }
  svg {
    font-size: 25px;
  }
  span {
    font-weight: bold;
    font-size: 20px;
  }
}

.alert-failure {
  p {
    color: $failureColor;
  }
}

.alert-success {
  p {
    color: $successColor;
  }
}

@keyframes timer-bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes alert-fadein {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(24px);
  }
}

@keyframes alert-fadeout {
  0% {
    transform: translateY(24px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.alert-fadein {
  animation: alert-fadein 300ms 1 ease forwards;
}

.alert-fadeout {
  animation: alert-fadeout 300ms 1 ease forwards;
}
