$primaryColor: #ff2594;
$primaryFontSize: 20px;
$primaryFontFamily: "Monteserrat";

$secondaryColor: #f6f6f6;
$secondaryFontSize: 10px;
$secondaryFontFamily: "Roboto";

$defaultLetterSpacing: 5px;
// $defaultLineSpacing: 0px;
