@import './mixins';

.products-list{
  width: 100%;
}

.product-item{
  padding: 0px;
  // @include lg{
  //   min-width: 15rem !important;
  //   max-width: 15rem;
  // }
  // width: 50%;
  // @include sm{
  //   width: 100% !important;
  // }

  .row{
    justify-content: center;
    align-items: center;
    margin: 3px;
  }
  img{
    width: 100%;
  }
}