@import './variables';
@import './mixins';


.search-bar{
  border-bottom: 1px solid $lightColor;
  padding-bottom: 0.5rem;
}
.search-icon{
  font-size: 20px;
  margin-right: 10px;
  color: $lightColor;
  font-weight: 100;
}

.search-bar-inner{
  padding: 10px 25px;
}

.search-input{
  color: $lightColor;
  border: none;
  &::placeholder{
    letter-spacing: $defaultLetterSpacing;
    font-size: $secondaryFontSize;
  }
}
