@import "./variables";

/* Colors related */

* {
  transition-duration: 300ms;
}

p {
  margin: initial;
}

.secondary-background-color {
  background-color: $secondaryColor !important;
}

.primary-background-color {
  background-color: $primaryColor !important;
}

.light-button {
  background-color: white;
  border: 1px solid lightgray;
}

.bg-black {
  background-color: black !important;
}

.no-radius {
  border-radius: 0px;
}

button {
  &:hover {
    opacity: 0.89;
  }
}
/* Others */
.item-size-box {
  width: 3.5rem;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 1px solid lightgray;
  background-color: white;
  color: gray;
  &:focus {
    border-color: black;
    color: rgb(32, 32, 32);
  }
}

.strikethrough {
  text-decoration: line-through;
}
/* Headers/Text related classes */

.header {
  text-align: center;
  font-size: 24px;
  letter-spacing: 9px;
  font-weight: bold;
}

.sub-header {
  text-align: center;
  font-size: 12px;
  letter-spacing: 5px;
  color: rgb(68, 67, 67);
}

/* Inputs related */

.placeholder-center::-webkit-input-placeholder {
  text-align: center;
}

.placeholder-center:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.placeholder-center::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.placeholder-center:-ms-input-placeholder {
  text-align: center;
}

.primary-input {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border: 1px solid lightgray;
  font-size: 12px;
  &::placeholder {
    font-weight: bold;
    letter-spacing: 5px;
  }
}

.divider {
  border-bottom: 1px solid lightgray;
}
