@import "./variables";
@import "./breakpoints";
@import "./mixins";
@import "./text";
/* Colors related */

* {
  transition-duration: 300ms;
}

p {
  margin: initial;
}
.fas,
.fab,
.fa {
  font-family: FontAwesome !important;
}
a {
  outline: none;
}

button {
  @extend a;
}

.mt-6{
  margin-top: 6rem;
}

.mb-6{
  margin-bottom: 6rem;
}

.button-default{
  font-size: $secondaryFontSize;
}

.gray-border {
  border: 1px solid lightgray;
}

.secondary-background-color {
  background-color: $secondaryColor !important;
}

.primary-background-color {
  background-color: $primaryColor !important;
}

.flex-center{
  @include flexCenter;
}

.light-button {
  background-color: white;
  @extend .gray-border;
}

.letter-spacing {
  letter-spacing: $defaultLetterSpacing;
}

.bg-black {
  background-color: black !important;
}

.no-radius {
  border-radius: 0px;
}

button {
  &:hover {
    opacity: 0.89;
  }
}
/* Others */
$itemSizePadding : 15px;
.item-size-box {
  width: 3.3rem;
  padding-top: $itemSizePadding;
  padding-bottom: $itemSizePadding;
  @extend .gray-border;
  background-color: white;
  color: gray;
  &:focus {
    border-color: black;
    color: rgb(32, 32, 32);
  }
}

.divider {
  border-bottom: 1px solid lightgray;
}

.footer-link{
  color: $secondaryColor;
  letter-spacing: $defaultLetterSpacing;
  font-size: $secondaryFontSize;
  margin: 10px;
  text-decoration: none;
  &:hover{
    color: $primaryColor;
    text-decoration: none;
  }
}

.social{
  a{
    font-size: 25px;
    margin: 7px;
  }
}