@import './mixins';

.tri-showcase{
  height: 18rem;
  width: 100%;
  @include flexCenter;
}

.tri-primary{
  height: 100%;
  @include centerBackgroundImage;
  @include flexCenter;
}

.tri-secondary{
  height: 100%;
  margin-left: 5px;
}

.tri-sec-item{
  height: 49%;
  margin-bottom: 4%;
  @include centerBackgroundImage;
  @include flexCenter;
  &:last-child{
    margin-bottom: 0px;
  }
}