@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.products-list{
  width: 100%;
}

.product-item{
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  transition-duration: 300ms;
  border-bottom: 3px solid white;
  padding-bottom: 15px;
  img{
    width: 100%;
  }
  .spin{
    width: 100%;
  }
  @include lsm{
    padding-left: 0px;
    padding-right: 0px;
  }
  .row{
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  &:nth-child(even) {
    padding-left: 8px;
    @include md{
      padding: 10px;
    }
  }
  &:nth-child(odd) {
    padding-right: 8px;
    @include md{
      padding: 10px;
    }
  }
  &:hover{
    border-bottom: 3px solid #ec4f4f;
    img{
      filter: grayscale(0.6);
    }
  }
  &:active{
    border-bottom: 3px solid black;
  }
}