@import '../../assets/styles/mixins';

.products-list{
  width: 100%;
}

.product-item{
  // @include lg{
  //   min-width: 15rem !important;
  //   max-width: 15rem;
  // }
  // width: 50%;
  // @include sm{
  //   width: 100% !important;
  // }
  padding-left: 15px;
  padding-right: 15px;
  @include lsm{
    padding-left: 0px;
    padding-right: 0px;
  }
  .row{
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  &:nth-child(even) {
    padding-left: 8px;
    @include md{
      padding: 15px;
    }
  }
  &:nth-child(odd) {
    padding-right: 8px;
    @include md{
      padding: 15px;
    }
  }
  
  img{
    width: 100%;
  }
}