@import "../../assets/styles/variables";

#header{
  position: relative;
  top: 0;
  width: 100%;
  z-index: 8;
  background-color: black;
  .nav-bar-head{
    z-index: 9;
    position: relative;
    width: 100%;
  }
  svg{
    &:hover{
      color: $primaryColor;
    }
  }
}

.cart-item-number{
  font-size: 10px;
  font-weight: bold;
  color: black;
  position: absolute;
  background-color: $primaryColor;
  margin-top: 5px;
  border-radius: 50%;
  padding: 5px;
}