@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";;

.carousel-custom {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 2rem;
  padding-left: 7.5%;

  .item {
    max-width: 15rem;
    margin: 15px;
    display: inline-block;
    cursor: pointer;
    @include lg{
      margin-right: 6.5rem;
    }
    @include lmd{
      &:last-child{
        margin-right: 3rem;
      }
    }
  }
  img {
    width: 100%;
  }
  .product-price {
    text-align: center;
  }
  .product-name {
    text-align: center;
    font-weight: bold;
    letter-spacing: $defaultLetterSpacing;
    font-size: $secondaryFontSize;
  }
  .product-price {
    font-size: $secondaryFontSize;
    padding-top: 10px;
    letter-spacing: $defaultLetterSpacing;
  }
  .product-details {
    padding-top: 2rem;
  }
}
