@import '../../assets/styles/mixins';


.carousel__dot {
  border: none;
  background: transparent;
  color: white !important;
  font-size: 20px !important;
}
.kJkwsc{
  top: 90vh !important;
  .carousel__dot--selected{
    color: gray !important;
  }
}
.sc-bwzfXH  {
  width: 100%;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  img{
    height: 100%;
  }
}
