@import '../../assets/styles/variables';


.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 30px;
  color: #d1d1d1;
  transition: color 0.2s;
  font-size: $secondaryFontSize;
  letter-spacing: $defaultLetterSpacing;
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
    color: $primaryColor;
    text-decoration: none;
  }
}
/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
  position: fixed;
  width: 20px;
  height: 20px;
  left: 16px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  margin-right: 1rem !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background-color: #000000;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  // width: 85vw;
  height: 102% !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

.social-platforms {
  bottom: 10px;
  position: absolute;
  margin-bottom: 0px;
  a {
    margin-right: 20px;
    color: white;
    font-size: 1.5rem;
  }
  h4 {
    font-size: $secondaryFontSize;
    text-transform: uppercase;
  }
}

/* Styling of overlay */
.bm-overlay {
  background-color: rgba(15, 13, 13, 0.192) !important;
}
