@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

$quadHeight: 100%;

.quadshowcase {
  width: 100%;
}

.primary-image {
  display: flex;
  // background-color: aquamarine;
  height: 100%;
  @include flexCenter();
}

.secondary-image {
  padding-bottom: 10px;
  height: 100%/3;
  @include flexCenter();
  &:last-child{
    padding-bottom: 0px;
  }
  @include md{
    // height: 6rem;
  }
  @include lg{
    // height: 7.34rem;
  }
}
