@import "./variables";

.strikethrough {
  text-decoration: line-through;
}
/* Headers/Text related classes */

.primary-color{
  color: $primaryColor;
}

.default-letter-spacing{
  letter-spacing: $defaultLetterSpacing;
}

.header {
  text-align: center;
  font-size: $primaryFontSize;
  letter-spacing: $defaultLetterSpacing;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.sub-header {
  text-align: center;
  font-size: $secondaryFontSize;
  letter-spacing: 4px;
  color: rgb(68, 67, 67);
  font-family: 'Roboto', sans-serif;
}
.text-underline{
  text-decoration: underline;
}
/* Inputs related */

.placeholder-center::-webkit-input-placeholder {
  text-align: center;
}

.placeholder-center:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.placeholder-center::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.placeholder-center:-ms-input-placeholder {
  text-align: center;
}

.placeholder-left::-webkit-input-placeholder {
  text-align: left;
}

.placeholder-left:-moz-placeholder {
  /* Firefox 18- */
  text-align: left;
}

.placeholder-left::-moz-placeholder {
  /* Firefox 19+ */
  text-align: left;
}

.placeholder-left:-ms-input-placeholder {
  text-align: left;
}



.primary-input {
  padding: 20px;
  background-color: white;
  @extend .gray-border;
  font-size: 16px;
  transition: 50ms;
  &:focus{
    border-style: outset;
    border-color: $infoColor;
  }
  &::placeholder {
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 16px;
  }
}
