$primaryColor: #ff2954;
$primaryFontSize: 25px;
$primaryFontFamily: "Monteserrat";

$secondaryColor: #f6f6f6;
$secondaryFontSize: 12px;
$secondaryFontFamily: "Roboto";

$lightColor: #00000049;

$defaultLetterSpacing: 12px;
$smallLetterSpacing: 5px;
$defaultButtonPadding: 18px;
$subLetterSpacing: 4px;
$defaultInputPadding: 15px;
$defaultLineHeight: 25px;

//Featured title, price: 12px
//Buttn fontsize 14px, letter spacing 2.5px


//Different status colors
 
$successColor: #019c23;
$dangerColor: #ff6347;
$warningColor: #9e9e00;
$infoColor: #026cb3;