$primaryColor: rgb(255,41,84);
$primaryFontSize: 25px;
$primaryFontFamily: "Monteserrat";

$secondaryColor: #f6f6f6;
$secondaryFontSize: 10px;
$secondaryFontFamily: "Roboto";

$lightColor: #00000049;

$defaultLetterSpacing: 5px;
$defaultButtonPadding: 25px;
$defaultInputPadding: 15px;
$defaultLineHeight: 25px;

//Different status colors
 
$successColor: #019c23;
$dangerColor: #ff6347;
$warningColor: #9e9e00;
$infoColor: #026cb3;